body {
    font-family: sans-serif;
    margin: 0;
    height: 120vh;
  }
  
  .navbar {
    height: 10vh;
    width: 100vw;
    background-color: black;
    opacity: 0.5;
    position: fixed;
    top: 0;
  }
  main{
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: relative;
    top:20vh;
    place-items: center;
  }
  main div{
    
    height:20px;
    width:40px;
    background-color: aqua;
  }
  .G,.P,.C{
    border: 1px solid black;
    padding: 20px;
  }
  